<p id="notice"><%= notice %></p>


<% thisday = @reservations[0].day.name %>
<h3><b><u> <%= thisday.strftime("%a %b %-d '%y")  %>  </u></b></h3>
<p><i>To book a Practice or Lesson, clink on the desired time/activity.  Note that Bay #1 always favors Lessons and will only open a Practice option when Bay#2 is booked first</i><p>
<P><i>You can't book more than two timeslots per day.  If you need more time, please contact Derek directly</i></P>
<p><i>To delete a reservation, click on <span><i class="fa fa-trash "></i></span>
beside the desired cancellation date/timeslot</i></p>


  <table class="table-striped">

    <thead>
      <tr> 

        <td colspan="4" style = "border-right: 1px solid;"> <span><i style = "font-size: 3em;" class="fas fa-dice-one "></i></span></td>
        <td></td>
        <td colspan="4"><i style = "font-size: 3em;" class="fas fa-dice-two"></i></td>
      </tr>

      <tr>

        <% if member_signed_in? %>
        <th>  </th>


        <% else %>
          <th></th>
        <% end %>

        <th><i class="fas fa-clock"></i></th>

        <% if member_signed_in? %>
          <th><i class="fas fa-user"></i></th>
        <% else %>
          <th></th>
        <% end %>

        <th><i class="fas fa-golf-ball "></i></th>

        <% if member_signed_in? %>
          <th></th>
        <% else %>
          <th></th>
        <% end %>
        
        <th><i class="fas fa-clock"></i></th>
        <% if member_signed_in? %>
          <th><i class="fas fa-user"></i></th>
        <% else %>
          <th></th>
        <% end %>
        <th style = "border-right: 1px solid "><i class="fas fa-golf-ball "></i></th>
      </tr>


    </thead>
    



    <tbody>
      <tr>


        <!-- Add TRASH can to allow deletion is current user or operator -->
        <% @reservations.each_with_index do |reservation, i| %>
          <% if reservation.member == current_member or (current_member.membership.name == 'Operator' and reservation.activity.name != 'Open')%>

            <td> <%= link_to cancel_reservation_path(reservation)  do %> 
                  <i class="fas fa-trash"></i>   
                 <% end %> 
            </td>

    	    <% else %>
    	      <td></td>
          <% end %>



          <!-- Display timeslot, allow editing if Admin or Operator -->
          <% if current_member.membership.name == "Admin" or current_member.membership.name == "Operator" %>
            <td> <%= link_to reservation.timeslot.start.strftime("%H:%M"), edit_reservation_path(reservation) %>
            </td>
              
          <% else %>
            <td><%= reservation.timeslot.start.strftime("%H:%M") %></td>
          <% end %>


          <% if member_signed_in? %>        
            <% if reservation.activity.name != 'Open'  %>
              <% if reservation.member == current_member %>
                <td bgcolor="yellow"> 
              <% else %>
                <td> 
              <% end %>
                <% if current_member.membership.name != 'Operator' %>
                  <%= reservation.member.firstname[0] %><%= reservation.member.lastname[0] %></td>
                <% else %>
                  <%= reservation.member.firstname[0] %><%= reservation.member.lastname %></td>
                      
                <% end %>    

            <% else %>
              <% if i.even? %>
                <% if ((@reservations[i+1].member != current_member) and (@count_reservations.to_i < 2))  and (current_member.membership.name != 'Operator' )%>
                  <td>
                    <% if reservation.timeslot.start.hour > 11 or (reservation.day.name.sunday? and reservation.timeslot.start.hour >10)  %>             
                      <%= link_to 'Lesson', book_lesson_reservation_path(reservation),class: "btn btn-danger btn-sm btn-block"%>
                    <% end %>


                    <% if @reservations[i+1].activity.name != 'Open' or (reservation.timeslot.start.hour <= 11 and !reservation.day.name.sunday?)    or (reservation.timeslot.start.hour <= 10 and reservation.day.name.sunday?)  %>                      
                          <%= link_to 'Practice', book_practice_reservation_path(reservation),class: "btn btn-warning btn-sm btn-block" %>
                    <% end %>
                  </td>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>

              <% if i.odd? %>
                <% if ((@reservations[i-1].member != current_member) and (@count_reservations.to_i < 2) and current_member.membership.name != 'Operator') %>
                  <td>             
                    <%= link_to 'Practice', book_practice_reservation_path(reservation),class: "btn btn-warning btn-sm btn-block" %>
                  </td>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>

            <% end %>   <!-- Reservation != 'Open'-->
          <% end %>    <!-- member_signed_in -->
            




          <!-- Highlight Lessons to Operator View -->
          <% if reservation.activity.name != 'Open'  %>
            <% if reservation.activity.name == "Lesson" and current_member.membership.name == "Operator"%>
              <td style = "border-right: 5px solid " bgcolor="yellow"> 
            <% else %>
              <td style = "border-right: 5px solid ">
            <% end %>
                <%= reservation.activity.name[0] %></td>
          <% else %>
              <td style = "border-right: 5px solid "></td>
          <% end %>

          <% if reservation.bay == 2 %>
      </tr>
          <% end %>

      <% end %>   <!-- Reservation_each_with_index -->
    </tbody>
  </table>
<!-- </div> -->

<br>

