<!DOCTYPE html>
<html>
  <head>
    <title>Marshesgolfv62019</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 

    </head>



    <body>

    <%= render 'layouts/navbar'  %>


    <% if member_signed_in?  %>
      <h3> <%= current_member.firstname %> <%= current_member.lastname %> / <%= current_member.age_group.name %> <%= current_member.membership.name %> </h3>
    <% end %>


    <div id="main-container" class="container-fluid" >
        <%= yield %>
    </div>
        

    </body>

    <%= render 'layouts/footer'  %>


</html>
