<p id="notice"><%= notice %></p>

<% if current_member.membership.name == "Admin" or  
  current_member.membership.name == "Operator" %>
  
  <h1>Members</h1>

  <br>
<% if current_member.membership.name == "Admin" %>
  <%= link_to 'New Member', new_member_path %>  
<% end %>

  <br>

  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Age group</th>
        <th>Membership</th>
      </tr>
    </thead>

    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= member.firstname %></td>
          <td><%= member.lastname %></td>
          <td><%= member.email %></td>
          <td><%= member.age_group.name %></td>
          <td><%= member.membership.name %></td>
          <td><%= member.lesson %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>


<% end %>
