<p id="notice"><%= notice %></p>



<% if current_member.membership.name == "Admin" or  
  current_member.membership.name == "Operator" %>


	<p>
	  <strong>First Name:</strong>
	  <%= @member.firstname %>
	</p>

	<p>
	  <strong>Last Name:</strong>
	  <%= @member.lastname %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @member.email %>
	</p>


	<p>
	  <strong>Age group:</strong>
	  <%= @member.age_group.name %>
	</p>

	<p>
	  <strong>Membership:</strong>
	  <%= @member.membership.name %>
	</p>

	<p>
	  <strong>Lesson:</strong>
	  <%= @member.lesson %>
	</p>

	<%= link_to 'Edit', edit_member_path(@member) %> |
	<%= link_to 'Back', members_path %>


<% end %>